h1 {
  color: rgb(39, 36, 38);
}
p {
  color: rgb(0, 0, 0);
  text-align: right;
}

h2 {
  color: rgb(246, 8, 8);
}
#p1 {
  color: rgb(0, 0, 0);
  text-align: right;
  
}

h3 {
  color: rgb(81, 255, 0);
}
p {
  color: rgb(0, 0, 0);
  text-align: right;
}