h1 {
  color: rgb(168, 40, 125);
  font-family: cursive;
  font-weight: 600;
  
}

h1:first-letter {
  font-weight: 800;
}





p {
  color: rgb(0, 0, 0);
  text-align: right;

}

h2 {
  color: rgb(246, 8, 8);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;

}

h2:first-letter {
  font-weight: bold;
}

#p1 {
  color: rgb(0, 0, 0);
  text-align: right

}

.rgb {
  color: rgb(255, 0, 0);
}

h3 {
  color: rgb(81, 255, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 560;
}
h3:first-letter {
  font-weight: 800;
}

p {
  color: rgb(0, 0, 0);
  text-align: right;
}

h4:hover {
  color: yellow;
  font-size: 40px;
}


.colores {

  font-size: 30px;

}
p {
  color: rgb(0, 0, 0);
  text-align: right;
}

h5 {
  color: rgb(255, 255, 255);
  font-family:Impact;
  font-weight: 900;
  font-size: x-large;
}

#titolo6 {color: blue;}



#fiveHead {
  color: rgb(251, 255, 255);
  text-align: right;
  background-color : blue
}

p {
  color: rgb(10, 9, 9);
  text-align: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size:small
}

h6 {
  color: rgb(255, 128, 0);
  font-weight: 900;
}

.orangeText {
  font-weight: 400;
  color: rgb(243, 141, 40);
}

.box {
  text-align: center;
  width: 20em;
  border: 2px solid #f90000;
  padding: 10px 8px;
  background-image: linear-gradient(180deg, #2d7ef7, #428cf5 50%, #04cef6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


h2 {
  color: rgb(255, 128, 0);
  font-weight: 900;
}

p:first-letter {font-weight: bold;}

px {
  color: rgb(255, 128, 0);
  font-weight: 900;
}

.container2 {
  padding-top: 20px;
  margin: center;
}