h1 {
  color: rgb(168, 40, 125);
  font-family: cursive;
  font-weight: 600;
  
}

h1:first-letter {
  font-weight: 800;
}





p {
  color: rgb(0, 0, 0);
  text-align: right;

}

h2 {
  color: rgb(246, 8, 8);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;

}

h2:first-letter {
  font-weight: bold;
}

#p1 {
  color: rgb(0, 0, 0);
  text-align: right;
  
  
}

h3 {
  color: rgb(81, 255, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 560;
}
h3:first-letter {
  font-weight: 800;
}

p {
  color: rgb(0, 0, 0);
  text-align: right;
}

h4:hover {
  color: yellow;
  font-size: 40px;
}


.colores {

  font-size: 30px;

}
p {
  color: rgb(0, 0, 0);
  text-align: right;
}

h5 {
  color: rgb(255, 255, 255);
  font-family:Impact;
  font-weight: 900;
  font-size: x-large;
}



#fiveHead {
  color: rgb(251, 255, 255);
  text-align: right;
  background-color : blue
}

p {
  color: rgb(10, 9, 9);
  text-align: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size:small
}


p:first-letter {font-weight: bold;}
